name: Build and Test Signer Darwin

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3

    - name: Get test credential
      run: scripts/keychain_cred.sh

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Build
      working-directory: ./internal/signer/darwin
      run: go build -v ./...

    - name: Test
      working-directory: ./internal/signer/darwin
      run: go test -v ./...
      
    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
        working-directory: ./internal/signer/darwin
        args: -E gofmt --max-same-issues 0

    - name: Create Binaries
      run: ./build/scripts/darwin_amd64.sh && ./build/scripts/darwin_arm64.sh

    - uses: actions/upload-artifact@v3
      with:
        name: darwin_amd64
        path: ./build/bin/darwin_amd64/*

    - uses: actions/upload-artifact@v3
      with:
        name: darwin_arm64
        path: ./build/bin/darwin_arm64/*
